.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    background-color: white;
    box-shadow: 4px 4px 8px greenyellow,
                -4px 4px 8px greenyellow,
                4px -4px 8px greenyellow,
                -4px -4px 8px greenyellow;
    border-radius: 10px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.value {
    font-size: 18px;
    font-weight: 500;
}

.value + .value {
    margin-top: 5px;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.label {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}

.input {
    margin-bottom: 30px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    padding: 6px 18px;
    border: 1px solid black;
    border-radius: 10px;
}

.button {
    width: 200px;
    font-size: 24px;
    font-weight: 500;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: yellow;
    cursor: pointer;
}

.button:active {
    background-color: rgb(143, 143, 207);
    color: white;
}