.btn {
    border: 1px solid black;
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    border-color: red;
    color: red;
}

.btn:active {
    border-color: green;
    color: green;
}